*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#0a1f44;
  color:white;
  text-align:center;
}

.hero{
  height:100vh;
  background:linear-gradient(180deg,#001f4d,#003c8f,#00bfff);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.content h1{
  font-size:42px;
  color:#87CEFA;
  text-shadow:0 0 20px #00bfff;
}

.content h2{
  font-weight:300;
}

.content p{
  margin:20px 0;
}

button{
  background:#00bfff;
  border:none;
  padding:12px 25px;
  border-radius:30px;
  font-size:16px;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#009acd;
}

.story{
  padding:60px 20px;
  line-height:2;
  font-size:18px;
}

.secret{
  display:none;
  padding:60px 20px;
  background:#001f3f;
}